.boxShadowPrimary {
    box-shadow: 0px 0px 0px 2px var(--bs-primary);
    -webkit-box-shadow: 0px 0px 0px 2px var(--bs-primary);
    -moz-box-shadow: 0px 0px 0px 2px var(--bs-primary);
}

.swiperWidth {
    width: 400px;
    padding: 10px
}