$theme-colors: (
    'primary': #E84D4D,
    'secondary': #FBD87F,
    'light': #F8F8F8,
    "gray": #F1F1F1,
    "gray-light": #C6C5C8,
    "gray-dark": #576168, 
    "primary-light": #F5D9D9,
    "blue": #CFF4FC,
    "font-darkblue": #055160,
);


$font-sizes: (
    'title': 24px,
    'sub-title': 18px,
    'normal': 16px,
    'label': 12px,
);

$focus-ring-width: 0px;
$box-shadow: 10 10 10px red;

@import '~bootstrap/scss/bootstrap';